body {
  background-color: #080710;
  color: white;
}

main {
  font-family: 'Eater', cursive;
  font-family: 'Ms Madi', cursive;
  font-family: 'Nosifer', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Tapestry', cursive;
}

.title {

  font-family: 'Ms Madi', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Tapestry', cursive;
  text-align: center;
  color: rgb(229, 227, 226);
}
p{
  color: dimgray;
}
span {
  color: #d4300a;
  font-size: 60px;
}
h4{
  font-size: 35px;
}
h5{
  font-size: 20px;
}
*.product_price{
  font-size: 25px;
  font-weight: 600px;
  margin-right: 20%;
  display: inline-block;
}

.main_container {
  display: flex;
}

.first_half_div {
  width: 70%;
  /* margin: 2%; */
  padding: 2%;
}

.second_half_div {
  width: 28%;
  padding: 0 1.5%;
}

.slider_section {
  width: 85%;
  height: 40%;
  margin-bottom: 5%;
}

.slider_img {
  width: 400px;
  height: 450px;
  object-fit: cover;
}

.categories_section {
  display: flex;
}

.flashSale_section {
  display: flex;
  flex-direction: column;
}

.card {
  width: 90%;
  margin: 4%;
  padding: 8%;
  background-color: rgba(255, 255, 255, 0.13);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  border-radius: 2%;
}

.card_img img {
  width: 220px;
  height: 200px;
  vertical-align: middle;
  object-fit: contain;
}

button {
  padding: 5%;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 8%;
  color: white;
  background-color: #d4300a;
}

footer {
  height: 60px;
  text-align: center;
  color: dimgrey;
  background-color: #28272f;
}







ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #28272f;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #d4300a;

}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #080710;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.slider_div {
  margin: 5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;

}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}